body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  margin-bottom:10px
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  width:100%;
  height:100%;
}

.saveBtn:hover {
  font-size: 30px;
  transition: all 0.3s ease-in-out;

}

.saveBtn:active{
  color:black;
  transition: all 0.1s ease-in-out;
}

.task-expired{
  background-color:lightgray

}
.task-current{
  background-color:lightcoral
}
.task-next{
  background-color:lightgreen
}

.time {
  border-top:1px dashed black;
  text-align: right;
  padding: 10px;
  text-transform: uppercase;
}

.container,.form-control {
  color:black
  
}

#save-message{
  text-align: center;
  height:30px;
}
#save-message i {
  color:green;
}

#save-message p {
  visibility: hidden;
}